<div class="center_devise">
    <% if user_signed_in? %>
    <div class="media-element">
      <%= image_tag('http://media.giphy.com/media/RrIdGcnknHD0c/giphy.gif', class: 'cat-gif') %>
    </div>
      <%= link_to "Next", cat_5_path, class: "btn btn-success btn-lg btn-gif"%>
    <% end %>
</div>
