<div class="center_devise">
    <% if user_signed_in? %>
    <div class="media-element">
      <%= image_tag('http://www.scified.com/pics/75.gif', class: 'cat-gif') %>
    </div>
    <%= link_to "Next", page_4_path, class: "btn btn-success btn-lg btn-gif"%>
    <% end %>
</div>
