@import url(http://fonts.googleapis.com/css?family=Lato);

$navbar-height:      45px;
$btn-default-bg: #2980b9;
$btn-default-color: #fff;
$btn-success-bg: #2ABB67;

@import "bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body{
  background: #DCDED6;
  margin-top: 92px;
}

.media-element {
  border-radius: 40px;
  @include border-radius(40px);
}

.center {
  text-align: center;
  background: #FFFFFF;
}

.navbar-brand {
  font-weight: bold;
}
