@import url(http://fonts.googleapis.com/css?family=Lato);

$navbar-height:      45px;
$btn-default-bg: #2980b9;
$btn-default-color: #fff;
$btn-success-bg: #2ABB67;

@import "bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

html body {
    background: image-url('http://wallpaperpanda.com/wallpapers/5Tn/4qK/5Tn4qKGT8.jpg');
}

body{
  background: black;
  margin-top: 6.5em;
}

.media-element {
  border-radius: 40px;
  @include border-radius(40px);
}

.center {
  background: #DCDED6;
  margin: 0 auto;
  margin-top: -1em;
  text-align: center;
  width: 73%;
  color: #363634;
  -webkit-border-radius: 40px !important;
  -moz-border-radius: 40px !important;
  border-radius: 40px !important;
  padding: .8em;
  padding-bottom: 2em;
  h3 {
    margin: .6em 0;
  }
}

.center_devise {
  margin: 1.8em auto;
  text-align: center;
}

.center_devise2 {
  margin: 1.8em auto;
  text-align: center;
  background-color: #DCDED6;
  padding-bottom: 1.8em;
  width: 20%;
  padding-top: .002em;
  @include border-radius(40px);
  input {
    @include border-radius(5px);
    border: none;
    cursor: center;
    text-align: center;
    &:focus{
    outline: 0;
    }
  }
  form .btn-success {
    margin: .4em;
    margin-bottom: .6em;
  }
}

.navbar-brand {
  font-weight: bold;
}

.cat-gif {
  height: 35em;
  width: 35em;
  border: .5em solid #DCDED6;
  @include border-radius(40px);
}

.cat-gif2 {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 75%;
  @include border-radius(40px);
}

.btn-gif {
  margin-top: 2em;
}

.password {
  margin: 1em 0;
}

/* Placeholder Text*/

::-webkit-input-placeholder {
   font-weight: normal;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal;
   text-align: center;
}

:-ms-input-placeholder {
   font-weight: normal;
   text-align: center;
}

.about {
  color: gray;
  margin: 0 auto;
  text-align: center;
}
footer {
  text-align: center;
  color: gray;
  background-color: black;
  margin-bottom: 0;
  position: fixed;
  bottom: 0px;
  right: 45%;
  left: 45%;
  height:30px;
  padding-top: .8em;
  @include border-radius(10px 10px 0 0);
  p {
    font-size: .8em;
  }
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
    white-space: nowrap;
    font-size: 1.5em;
    ul, li {
      list-style-type: none;
    }
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    margin: 0 auto;
    margin-bottom: 2em;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5em;
    ul, li{
      list-style-type: none;
    }
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    margin: 0 auto;
    margin-bottom: 2em;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5em;
    ul, li{
      list-style-type: none;
    }
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    margin: 0 auto;
    margin-bottom: 2em;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5em;
    ul, li{
      list-style-type: none;
    }
 }
