@import url(http://fonts.googleapis.com/css?family=Lato);

$navbar-height:      45px;
$btn-default-bg: #2980b9;
$btn-default-color: #fff;
$btn-success-bg: #2ABB67;

@import "bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


html body {
    background: image-url('http://wallpaperpanda.com/wallpapers/5Tn/4qK/5Tn4qKGT8.jpg');
}

body{
  background: black;
  margin-top: 92px;
}

.media-element {
  border-radius: 40px;
  @include border-radius(40px);
}


.center {
  background: #DCDED6;
  margin: 0 auto;
  text-align: center;
  width: 70em;
  -webkit-border-radius: 40px !important;
  -moz-border-radius: 40px !important;
  border-radius: 40px !important;
  padding-top: 1em;
}

.center_devise {
  margin: 7em auto;
  text-align: center;
  color: gray;
}

.navbar-brand {
  font-weight: bold;
}

.cat-gif {
  height: 35em;
  width: 35em;
  @include border-radius(40px);
}

.cat-gif2 {
  width: 35em;
  @include border-radius(40px);
}

.btn-gif {
  margin-top: 2em;
}

.password {
  margin-top: 1em;
}

/* Placeholder Text*/

::-webkit-input-placeholder {
   font-weight: normal;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal;
   text-align: center;
}

:-ms-input-placeholder {
   font-weight: normal;
   text-align: center;
}

.about {
  color: gray;
  margin: 0 auto;
  text-align: center;
}
